/* ******** BREAK POINTS ******** BREAK POINTS ******** */   

/* ******** BREAK POINTS ******** BREAK POINTS ******** */   

/* ******** BREAK POINTS ******** BREAK POINTS ******** */   



/* ************* TABLET QUERY *************  */

@media only screen and (min-width: 768px)
{


    h1 {

        font-size: 1.7em;
        line-height: 1.1;
        }

    h2  {
        font-size: 1.2em;
        }




 /* Header  */

.main-header
        {
        width: 96%;
        max-width: 960px;
        margin:auto;
        background-color: #dddddd;
        }

#logo   {
        width: 40%;
        float: left;
        padding: 0;
        }

nav     {
        width: 54%;
        float: right;
        margin-top: 16px;
        text-align: right;
        padding-right: 20px;
        }

nav ul  {
        margin: 0;
        }
    
nav ul li {
        display: inline;
        padding: 0 1%;
        border: none;
        line-height: 2;
        position:relative;
        top: 16px;
        }




/* Featured News Item  */
 
    .top-story
        {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 20px;
        }

    .top-image
        {
        width: 57%;
        margin: 0px;
        float: left;
        margin-right: 3%;
        border: solid 2px #222222;
        }

    .top-info
        {
        width: 38%;
        float:left;
        }


/* Sidebar  */
 
    .sidebar
        {
        clear: both;
        width: 37%;
        float: right;
        }

    .sidebar-upcoming, .sidebar-faq 
        {
        display: block;
        border-bottom: 1px solid #ccc;
        padding-bottom: 20px;
        }


    .sidebar-detail h2, .sidebar-concert h2
        {
        font-size: 1.6em;
        line-height: 1;
        margin-bottom: 2%;
        }

    .sidebar-detail .newsletter input, .sidebar-concert .newsletter input
        {
        width: 65%;
        height: 40px;
        float: left;
        margin-right: 1%;
        }

    .sidebar-detail .newsletter .btn,  .sidebar-concert .newsletter .btn
        {
        width: 32%;
        padding: 0px;
        height: 38px;
        padding:0px;
        display: inline-block;
        }
  
 

/* Feed */

    .feed 
        {
        width: 60%;
        float: left;
        border-right: 1px solid #ccc;
        }

    .feed-image 
        {
        width: 35%;
        }


/* Detail pages */




   .reviews-image, .news-image
        {
        width: 50%;
        float: left;
        }
    
    .detail-title
        {
        width: 47%;
        float: left;
        }

    .detail
        {
        width: 100%;    
        }

    .detail-story 
        {
        clear: both;
        }
 
    .detail .newsletter input
        {
        display: inline;
        }
  

/* Footer */

    footer
        {
        width: 100%;
        clear:both;
        }

    #footer-logo
        {
        width: 20%;
        margin-top: 100px;
        }

    .contact-us
        {
        float: left;
        width: 40%;
        }


    .map-container
        {
        padding-bottom: 43%;
        width: 58%;
        }



    .mission
        {
        border-top :1px solid #ccc;
        padding-bottom: 20px;
        }

    .team 
        {
        border-top :1px solid #ccc;
        }


    .team-image
        {
        width: 20%;
        padding-bottom: 20%;
        margin-right: 40px;
        }

    .concert-listing
        {
        width: 45%;
        float: left;
        padding-right: 5%;
        }


    .concert-listing:nth-child(10),
    .concert-listing:nth-child(11)
        {border-bottom: none}


}  /* Close tablet query */ 



/* ************ DESKTOP QUERY ************ */ 

@media (min-width: 940px)
{
    h1 {
        font-size: 2.1em;
        line-height: 1.1;
        margin-bottom: .5em;
        }


 /* Header  */


    nav {
        margin-top: 32px;
        }


/* Featured News Item  */


    .detail-content figure
        {
        margin-bottom: 15px;
        }


    .top-story
        {
        width:63%;
        float: left;
        border-right: 1px solid #ccc;
        padding-right: 3%;
        padding-bottom: 80px;
        border-bottom: none;
        }

    .top-image
        {
        width: 100%;
        margin: 0px; 
        float:left;
        }

    .top-info
        {
        width: 100%;
        margin-top: 15px;
        }


/* Sidebar  */


    .sidebar i /* Font Awesome Icons */
        {
        display: inline;
        padding: 0px 10px;
        }

    .sidebar h2,
    .sidebar-concert h2,
    .sidebar-detail h2
        {
        font-size: 1.6em;
        line-height: 1;
        margin-bottom: 2%;
        }

    .sidebar-concert /* Only shows on desktop view  */
        {
        display: block;
        }
 
    .sidebar, .sidebar-concert
        {
        padding-top: 20px;
        clear: none;
        width: 33%;
        float: left; 
        }

    .sidebar-concert
        {
        padding-bottom: 50px;
        border-bottom: 1px solid #cccccc;
        }

    .sidebar-detail .newsletter 
        {
        width: 30%;
        float: right;
        padding-top: 2%;
        margin-bottom: .5%;
        border-top: none;
        border-bottom: none;
        padding-bottom: 30px;
        padding-left: 0px;
        }




   .sidebar-detail .newsletter input,
   .sidebar-concert .newsletter input
        {
        width: 100%;
        }


    .sidebar-detail .newsletter .btn,
    .sidebar-concert .newsletter .btn
        {
        width: 100%;
        }


    .sidebar-upcoming h2
        {
        margin-top: 0px;
        }

    .sidebar-upcoming 
        {
        padding-top: 20px;
        border-bottom: none;
        border-top: 1px solid #ccc;
        padding-bottom: 30px;
        padding-left:15px;
        }

    .sidebar-faq h2
        {
        margin-top: 0px;
        }

    .sidebar-faq
        {
        padding-top: 20px;
        border-top: 1px solid #ccc;
        border-bottom: none;
        padding-left:15px;
        }

    .newsletter
        {
        padding-bottom: 30px;
        padding-left: 15px;
        border-bottom: none;
        }

    .newsletter input[type="text"]
        {
        margin-top: 10px;
        }



/* Feed */

    .feed 
        {
        width: 100%;
        float: none;
        clear: both;
        border-top: solid 1px #ccc;
        border-right: none;
        }

    .feed p
        {
        display: block;

        }

    .feed-image 
        {
        width: 20%;   
        padding-right: 4%;    
        }

    .feed-item
        {      

        }

/* Detail pages */



    article.article-header
        {
        width: 30%;
        float: right;
        clear: none;
        }


   .reviews-image, 
   .news-image
        {
        width: 25%;
        float: left;
        }
    
    .detail-title
        {
        width: 75%;
        float: none;
        }

    .detail
        {
        width: 75%;    
        float: left;
        }

    .detail-story
        {
        padding-bottom: 80px;
        }


/* Footer */

    footer
        {
        width: 100%;
        clear:both;
        }

    #footer-logo
        {
        width: 15%;
        margin-top: 50px;
        }


    .team-description
        {
        display: block;
        }


    .event-section
        {
        width: 66%;
        float: left;
        border-right: solid 1px #cccccc;
        }



}  /* Close desktop query */ 












@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

/*DON'T DELETE THIS LITTLE YELLOW THING. 
/*

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print,

       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}
@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
 