

body 	{
		font-family: 'Work Sans', 'Helvetica', 'Arial', sans-serif;
		font-weight: 300;
		padding: 0px;
		margin: 0px;   		
		position: relative;
		}


h1, h2, h3, h4, h5, p {margin: 0px;}


ul {padding-left: 0px; margin: 0px;}


h1		{color: #a61e3a;
		font-size: 36px;
		font-weight: 100;
		letter-spacing: 1px;
		text-align: center;
		padding: 10px 0px;
		}


h2		{color: #473f40;
		font-size: 15px;
		font-weight: 300;
		line-height: 120%;
		text-align: center;}



h4		{
		color: #a61e3a;
		font-size: 14px;
		font-weight: 400;
		line-height: 120%;
		text-align: center;
		padding-bottom: 5px;
		}


p		{
		color: #473f40;
		font-size: 14px;
		text-align: center;
		}

a {color:#473f40; text-decoration: none;}
a:hover {opacity: .8;}



.col-12 {width: 100%;} 

.contact{background-color: #e1dfd9;}

.contact-form
		{
		width: 80%;
		/* max-width: 450px; */
		margin:auto;
		padding: 10px 0;
		}   


/* Contact form fields */

input, textarea {
			    width: 100%;
			    background: #cbc6c1;
			    color: #21130e;
			    font-size: 13px;
			    border: none;
			    padding: 4px 0px 4px 5px;
			    margin: 5px 0px;
			    resize: none;
				}



input[type=submit] {
			    background-color: #a61e3a;
			    color: #ffffff;
			    font-size: 14px;
			    padding: 7px 0px;
			    margin-top: 0px;
			    width: 50%;
			    min-width: 100px;
			    border: none;
			    cursor: pointer;
			    align-content: center;
				}

input[type=submit]:hover
				{background-color: #473f40;}

.submit-center {text-align: center; padding-top: 0px;}




/* LOGO AND HEADER BAR */


header {
		text-align: center;
		background-color: #ffffff;
		}

header img {
		width: 70%;
		max-width: 350px;
		padding-top:25px;
		padding-bottom: 10px;
		}

#red-bar 
		{
		background-color: #a61e3a;
		height: 20px;
		}



/* FOOTER */

footer		{
			height: 30px;
			background-color: #473f40;
			}

